/* =============== GRID GENERAL =============== */
.grid-container {
  display: grid;
  gap: 20px;
  margin-top: 25px;
  justify-content: center;
}

.cards {
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.minor-familles {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px; margin-top: 30px;
}

.categories,
.tirages {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 22px;
  margin-top: 30px;
}
