/* =============== GRID GENERAL =============== */
.grid-container {
  display: grid;
  gap: 20px;
  margin-top: 25px;
  justify-content: center;
}

.cards {
  grid-template-columns: repeat(auto-fill, fit-content(140px));
}

.minor-familles {
  grid-template-columns: repeat(auto-fit, fit-content(180px));
  gap: 25px; margin-top: 30px;
}

.categories,
.tirages {
  grid-template-columns: repeat(auto-fit, fit-content(220px));
  gap: 22px;
  margin-top: 30px;
}
